brotlipy
certifi
cffi
chardet
click
cryptography
filelock
Flask
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
joblib
lxml
MarkupSafe
mkl-fft
mkl-random
mkl-service
nltk
numpy
packaging
pip
pycparser
pyOpenSSL
pyparsing
PySocks
python-utils
PyYAML
regex
requests
sacremoses
setuptools
six
tokenizers
torch
tqdm
transformers
typing-extensions
urllib3
utils
Werkzeug
wheel
zipp
